In [174]:
!pip install --upgrade pip
!pip install xarray

Requirement already up-to-date: pip in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (18.1)
Requirement already satisfied: xarray in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (0.10.9)
Requirement already satisfied: pandas>=0.19.2 in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (from xarray) (0.23.4)
Requirement already satisfied: numpy>=1.12 in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (from xarray) (1.15.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (from pandas>=0.19.2->xarray) (2.7.3)
Requirement already satisfied: pytz>=2011k in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (from pandas>=0.19.2->xarray) (2018.5)
Requirement already satisfied: six>=1.5 in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.19.2->xarray) (1.11.0)

In [175]:
import pandas as pd
import numpy as np
import xarray as xr

In [176]:
a = np.array(np.random.randint(1, 90+1,(4,4)),dtype=np.float64)
b = np.array(np.random.randint(1, 360+1,(4,4)),dtype=np.float64)

In [177]:
c = np.random.random_sample(16,)
c = c.reshape(4,4)

In [178]:
a

array([[34., 65., 89., 85.],
       [43., 14., 75., 18.],
       [85., 35., 39., 18.],
       [71., 84., 86., 90.]])

In [179]:
b

array([[125.,  73., 257.,  48.],
       [ 88.,  83.,  28.,  69.],
       [318., 259.,  86., 292.],
       [ 27., 289., 309., 236.]])

In [180]:
c

array([[0.41989657, 0.5945762 , 0.61709786, 0.89630922],
       [0.01867557, 0.12444428, 0.32070109, 0.82343451],
       [0.32197471, 0.19515785, 0.95679748, 0.28453234],
       [0.22897331, 0.26325562, 0.64670032, 0.25895012]])

In [181]:
d = {'Latitude' :  pd.Series(a, index=[(0,0), (0,1), (0,2), (0,3),(1,0), (1,1), (1,2), (1,3),(2,0), (2,1), (2,2), (2,3),(3,0), (3,1), (3,2), (3,3)]),
     'Longitude' : pd.Series(b, index=[(0,0), (0,1), (0,2), (0,3),(1,0), (1,1), (1,2), (1,3),(2,0), (2,1), (2,2), (2,3),(3,0), (3,1), (3,2), (3,3)])}

ValueError: Length of passed values is 4, index implies 16

In [225]:
d = {'CatIndex' :  pd.Series([0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3], index=[(0,0), (0,1), (0,2), (0,3),(1,0), (1,1), (1,2), (1,3),(2,0), (2,1), (2,2), (2,3),(3,0), (3,1), (3,2), (3,3)]),
     'Latitude' :  pd.Series([76.7, 57.4, 57.4, 90.4, 64.1, 62.2, 14.3, 69.4, 68.1, 35.2, 19.3, 48.4, 45.1, 67.7, 81.9, 73.6], index=[(0,0), (0,1), (0,2), (0,3),(1,0), (1,1), (1,2), (1,3),(2,0), (2,1), (2,2), (2,3),(3,0), (3,1), (3,2), (3,3)]),
     'Longitude' : pd.Series([7.1, 358.2, 358.2, 75.4, 235.1, 303.2, 241.3, 292.4, 158.1, 71.2, 256.3, 345.4, 57.1, 322.2, 59.3, 180.4], index=[(0,0), (0,1), (0,2), (0,3),(1,0), (1,1), (1,2), (1,3),(2,0), (2,1), (2,2), (2,3),(3,0), (3,1), (3,2), (3,3)])}

In [226]:
d

{'CatIndex': (0, 0)    0
 (0, 1)    0
 (0, 2)    0
 (0, 3)    0
 (1, 0)    1
 (1, 1)    1
 (1, 2)    1
 (1, 3)    1
 (2, 0)    2
 (2, 1)    2
 (2, 2)    2
 (2, 3)    2
 (3, 0)    3
 (3, 1)    3
 (3, 2)    3
 (3, 3)    3
 dtype: int64, 'Latitude': (0, 0)    76.7
 (0, 1)    57.4
 (0, 2)    57.4
 (0, 3)    90.4
 (1, 0)    64.1
 (1, 1)    62.2
 (1, 2)    14.3
 (1, 3)    69.4
 (2, 0)    68.1
 (2, 1)    35.2
 (2, 2)    19.3
 (2, 3)    48.4
 (3, 0)    45.1
 (3, 1)    67.7
 (3, 2)    81.9
 (3, 3)    73.6
 dtype: float64, 'Longitude': (0, 0)      7.1
 (0, 1)    358.2
 (0, 2)    358.2
 (0, 3)     75.4
 (1, 0)    235.1
 (1, 1)    303.2
 (1, 2)    241.3
 (1, 3)    292.4
 (2, 0)    158.1
 (2, 1)     71.2
 (2, 2)    256.3
 (2, 3)    345.4
 (3, 0)     57.1
 (3, 1)    322.2
 (3, 2)     59.3
 (3, 3)    180.4
 dtype: float64}

In [227]:
df = pd.DataFrame(d, index=[(0,0), (0,1), (0,2), (0,3),(1,0), (1,1), (1,2), (1,3),(2,0), (2,1), (2,2), (2,3),(3,0), (3,1), (3,2), (3,3)], columns=['CatIndex','Latitude', 'Longitude'])

In [228]:
df

        CatIndex  Latitude  Longitude
(0, 0)         0      76.7        7.1
(0, 1)         0      57.4      358.2
(0, 2)         0      57.4      358.2
(0, 3)         0      90.4       75.4
(1, 0)         1      64.1      235.1
(1, 1)         1      62.2      303.2
(1, 2)         1      14.3      241.3
(1, 3)         1      69.4      292.4
(2, 0)         2      68.1      158.1
(2, 1)         2      35.2       71.2
(2, 2)         2      19.3      256.3
(2, 3)         2      48.4      345.4
(3, 0)         3      45.1       57.1
(3, 1)         3      67.7      322.2
(3, 2)         3      81.9       59.3
(3, 3)         3      73.6      180.4

In [229]:
df.index.names

FrozenList([None])

In [230]:
df.index.names = ['Index']

In [231]:
df

        CatIndex  Latitude  Longitude
Index
(0, 0)         0      76.7        7.1
(0, 1)         0      57.4      358.2
(0, 2)         0      57.4      358.2
(0, 3)         0      90.4       75.4
(1, 0)         1      64.1      235.1
(1, 1)         1      62.2      303.2
(1, 2)         1      14.3      241.3
(1, 3)         1      69.4      292.4
(2, 0)         2      68.1      158.1
(2, 1)         2      35.2       71.2
(2, 2)         2      19.3      256.3
(2, 3)         2      48.4      345.4
(3, 0)         3      45.1       57.1
(3, 1)         3      67.7      322.2
(3, 2)         3      81.9       59.3
(3, 3)         3      73.6      180.4

In [232]:
df.index

Index([(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0),
       (2, 1), (2, 2), (2, 3), (3, 0), (3, 1), (3, 2), (3, 3)],
      dtype='object', name='Index')

In [233]:
cfd = pd.Series([0.36404798, 0.10257676, 0.60297179, 0.56569364, 0.75560363, 0.59407516, 0.32987416, 0.53034296, 0.17579937, 0.14069613, 0.45476568, 0.78414917, 0.50733694, 0.91860832, 0.72871516, 0.16223598], index=[(0,0), (0,1), (0,2), (0,3),(1,0), (1,1), (1,2), (1,3),(2,0), (2,1), (2,2), (2,3),(3,0), (3,1), (3,2), (3,3)])

In [234]:
cfd

(0, 0)    0.364048
(0, 1)    0.102577
(0, 2)    0.602972
(0, 3)    0.565694
(1, 0)    0.755604
(1, 1)    0.594075
(1, 2)    0.329874
(1, 3)    0.530343
(2, 0)    0.175799
(2, 1)    0.140696
(2, 2)    0.454766
(2, 3)    0.784149
(3, 0)    0.507337
(3, 1)    0.918608
(3, 2)    0.728715
(3, 3)    0.162236
dtype: float64

In [235]:
df.Latitude.astype(np.int64)

Index
(0, 0)    76
(0, 1)    57
(0, 2)    57
(0, 3)    90
(1, 0)    64
(1, 1)    62
(1, 2)    14
(1, 3)    69
(2, 0)    68
(2, 1)    35
(2, 2)    19
(2, 3)    48
(3, 0)    45
(3, 1)    67
(3, 2)    81
(3, 3)    73
Name: Latitude, dtype: int64

In [236]:
df['Latitude-Int'] = df.Latitude.astype(np.int64)

In [237]:
df['Longitude-Int'] = df.Longitude.astype(np.int64)

In [238]:
df

        CatIndex  Latitude  Longitude  Latitude-Int  Longitude-Int
Index
(0, 0)         0      76.7        7.1            76              7
(0, 1)         0      57.4      358.2            57            358
(0, 2)         0      57.4      358.2            57            358
(0, 3)         0      90.4       75.4            90             75
(1, 0)         1      64.1      235.1            64            235
(1, 1)         1      62.2      303.2            62            303
(1, 2)         1      14.3      241.3            14            241
(1, 3)         1      69.4      292.4            69            292
(2, 0)         2      68.1      158.1            68            158
(2, 1)         2      35.2       71.2            35             71
(2, 2)         2      19.3      256.3            19            256
(2, 3)         2      48.4      345.4            48            345
(3, 0)         3      45.1       57.1            45             57
(3, 1)         3      67.7      322.2            67            322
(3, 2)         3      81.9       59.3            81             59
(3, 3)         3      73.6      180.4            73            180

In [239]:
df['CloudFraction'] = cfd

In [240]:
df

,CatIndex,Latitude,Longitude,Latitude-Int,Longitude-Int,CloudFraction
Index,,,,,,
"(0, 0)",0,76.7,7.1,76,7,0.364048
"(0, 1)",0,57.4,358.2,57,358,0.102577
"(0, 2)",0,57.4,358.2,57,358,0.602972
"(0, 3)",0,90.4,75.4,90,75,0.565694
"(1, 0)",1,64.1,235.1,64,235,0.755604
"(1, 1)",1,62.2,303.2,62,303,0.594075
"(1, 2)",1,14.3,241.3,14,241,0.329874
"(1, 3)",1,69.4,292.4,69,292,0.530343
"(2, 0)",2,68.1,158.1,68,158,0.175799
"(2, 1)",2,35.2,71.2,35,71,0.140696
"(2, 2)",2,19.3,256.3,19,256,0.454766
"(2, 3)",2,48.4,345.4,48,345,0.784149
"(3, 0)",3,45.1,57.1,45,57,0.507337
"(3, 1)",3,67.7,322.2,67,322,0.918608
"(3, 2)",3,81.9,59.3,81,59,0.728715
"(3, 3)",3,73.6,180.4,73,180,0.162236

In [241]:
df[df.index==(0,0)]

,CatIndex,Latitude,Longitude,Latitude-Int,Longitude-Int,CloudFraction
Index,,,,,,
"(0, 0)",0,76.7,7.1,76,7,0.364048

In [242]:
df.index

Index([(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0),
       (2, 1), (2, 2), (2, 3), (3, 0), (3, 1), (3, 2), (3, 3)],
      dtype='object', name='Index')

In [243]:
latgl = (180 + df['Latitude-Int']/2)

In [244]:
latgl

Index
(0, 0)    218.0
(0, 1)    208.5
(0, 2)    208.5
(0, 3)    225.0
(1, 0)    212.0
(1, 1)    211.0
(1, 2)    187.0
(1, 3)    214.5
(2, 0)    214.0
(2, 1)    197.5
(2, 2)    189.5
(2, 3)    204.0
(3, 0)    202.5
(3, 1)    213.5
(3, 2)    220.5
(3, 3)    216.5
Name: Latitude-Int, dtype: float64

In [245]:
longl = (180 + df['Longitude-Int']/2)

In [246]:
longl

Index
(0, 0)    183.5
(0, 1)    359.0
(0, 2)    359.0
(0, 3)    217.5
(1, 0)    297.5
(1, 1)    331.5
(1, 2)    300.5
(1, 3)    326.0
(2, 0)    259.0
(2, 1)    215.5
(2, 2)    308.0
(2, 3)    352.5
(3, 0)    208.5
(3, 1)    341.0
(3, 2)    209.5
(3, 3)    270.0
Name: Longitude-Int, dtype: float64

In [247]:
df['Latitude-GridLevel'] = latgl.astype(np.int64)

In [248]:
df['Longitude-GridLevel'] = longl.astype(np.int64)

In [249]:
df

,CatIndex,Latitude,Longitude,Latitude-Int,Longitude-Int,CloudFraction,Latitude-GridLevel,Longitude-GridLevel
Index,,,,,,,,
"(0, 0)",0,76.7,7.1,76,7,0.364048,218,183
"(0, 1)",0,57.4,358.2,57,358,0.102577,208,359
"(0, 2)",0,57.4,358.2,57,358,0.602972,208,359
"(0, 3)",0,90.4,75.4,90,75,0.565694,225,217
"(1, 0)",1,64.1,235.1,64,235,0.755604,212,297
"(1, 1)",1,62.2,303.2,62,303,0.594075,211,331
"(1, 2)",1,14.3,241.3,14,241,0.329874,187,300
"(1, 3)",1,69.4,292.4,69,292,0.530343,214,326
"(2, 0)",2,68.1,158.1,68,158,0.175799,214,259
"(2, 1)",2,35.2,71.2,35,71,0.140696,197,215
"(2, 2)",2,19.3,256.3,19,256,0.454766,189,308
"(2, 3)",2,48.4,345.4,48,345,0.784149,204,352
"(3, 0)",3,45.1,57.1,45,57,0.507337,202,208
"(3, 1)",3,67.7,322.2,67,322,0.918608,213,341
"(3, 2)",3,81.9,59.3,81,59,0.728715,220,209
"(3, 3)",3,73.6,180.4,73,180,0.162236,216,270

In [250]:
df.index

Index([(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0),
       (2, 1), (2, 2), (2, 3), (3, 0), (3, 1), (3, 2), (3, 3)],
      dtype='object', name='Index')

In [251]:
df.sort_index(ascending=False)

,CatIndex,Latitude,Longitude,Latitude-Int,Longitude-Int,CloudFraction,Latitude-GridLevel,Longitude-GridLevel
Index,,,,,,,,
"(3, 3)",3,73.6,180.4,73,180,0.162236,216,270
"(3, 2)",3,81.9,59.3,81,59,0.728715,220,209
"(3, 1)",3,67.7,322.2,67,322,0.918608,213,341
"(3, 0)",3,45.1,57.1,45,57,0.507337,202,208
"(2, 3)",2,48.4,345.4,48,345,0.784149,204,352
"(2, 2)",2,19.3,256.3,19,256,0.454766,189,308
"(2, 1)",2,35.2,71.2,35,71,0.140696,197,215
"(2, 0)",2,68.1,158.1,68,158,0.175799,214,259
"(1, 3)",1,69.4,292.4,69,292,0.530343,214,326
"(1, 2)",1,14.3,241.3,14,241,0.329874,187,300
"(1, 1)",1,62.2,303.2,62,303,0.594075,211,331
"(1, 0)",1,64.1,235.1,64,235,0.755604,212,297
"(0, 3)",0,90.4,75.4,90,75,0.565694,225,217
"(0, 2)",0,57.4,358.2,57,358,0.602972,208,359
"(0, 1)",0,57.4,358.2,57,358,0.102577,208,359
"(0, 0)",0,76.7,7.1,76,7,0.364048,218,183

In [252]:
df.set_index(['CatIndex'])

,Latitude,Longitude,Latitude-Int,Longitude-Int,CloudFraction,Latitude-GridLevel,Longitude-GridLevel
CatIndex,,,,,,,
0,76.7,7.1,76,7,0.364048,218,183
0,57.4,358.2,57,358,0.102577,208,359
0,57.4,358.2,57,358,0.602972,208,359
0,90.4,75.4,90,75,0.565694,225,217
1,64.1,235.1,64,235,0.755604,212,297
1,62.2,303.2,62,303,0.594075,211,331
1,14.3,241.3,14,241,0.329874,187,300
1,69.4,292.4,69,292,0.530343,214,326
2,68.1,158.1,68,158,0.175799,214,259
2,35.2,71.2,35,71,0.140696,197,215
2,19.3,256.3,19,256,0.454766,189,308
2,48.4,345.4,48,345,0.784149,204,352
3,45.1,57.1,45,57,0.507337,202,208
3,67.7,322.2,67,322,0.918608,213,341
3,81.9,59.3,81,59,0.728715,220,209
3,73.6,180.4,73,180,0.162236,216,270

In [253]:
df

,CatIndex,Latitude,Longitude,Latitude-Int,Longitude-Int,CloudFraction,Latitude-GridLevel,Longitude-GridLevel
Index,,,,,,,,
"(0, 0)",0,76.7,7.1,76,7,0.364048,218,183
"(0, 1)",0,57.4,358.2,57,358,0.102577,208,359
"(0, 2)",0,57.4,358.2,57,358,0.602972,208,359
"(0, 3)",0,90.4,75.4,90,75,0.565694,225,217
"(1, 0)",1,64.1,235.1,64,235,0.755604,212,297
"(1, 1)",1,62.2,303.2,62,303,0.594075,211,331
"(1, 2)",1,14.3,241.3,14,241,0.329874,187,300
"(1, 3)",1,69.4,292.4,69,292,0.530343,214,326
"(2, 0)",2,68.1,158.1,68,158,0.175799,214,259
"(2, 1)",2,35.2,71.2,35,71,0.140696,197,215
"(2, 2)",2,19.3,256.3,19,256,0.454766,189,308
"(2, 3)",2,48.4,345.4,48,345,0.784149,204,352
"(3, 0)",3,45.1,57.1,45,57,0.507337,202,208
"(3, 1)",3,67.7,322.2,67,322,0.918608,213,341
"(3, 2)",3,81.9,59.3,81,59,0.728715,220,209
"(3, 3)",3,73.6,180.4,73,180,0.162236,216,270

In [254]:
df

,CatIndex,Latitude,Longitude,Latitude-Int,Longitude-Int,CloudFraction,Latitude-GridLevel,Longitude-GridLevel
Index,,,,,,,,
"(0, 0)",0,76.7,7.1,76,7,0.364048,218,183
"(0, 1)",0,57.4,358.2,57,358,0.102577,208,359
"(0, 2)",0,57.4,358.2,57,358,0.602972,208,359
"(0, 3)",0,90.4,75.4,90,75,0.565694,225,217
"(1, 0)",1,64.1,235.1,64,235,0.755604,212,297
"(1, 1)",1,62.2,303.2,62,303,0.594075,211,331
"(1, 2)",1,14.3,241.3,14,241,0.329874,187,300
"(1, 3)",1,69.4,292.4,69,292,0.530343,214,326
"(2, 0)",2,68.1,158.1,68,158,0.175799,214,259
"(2, 1)",2,35.2,71.2,35,71,0.140696,197,215
"(2, 2)",2,19.3,256.3,19,256,0.454766,189,308
"(2, 3)",2,48.4,345.4,48,345,0.784149,204,352
"(3, 0)",3,45.1,57.1,45,57,0.507337,202,208
"(3, 1)",3,67.7,322.2,67,322,0.918608,213,341
"(3, 2)",3,81.9,59.3,81,59,0.728715,220,209
"(3, 3)",3,73.6,180.4,73,180,0.162236,216,270

In [255]:
df['Groups'] = (df['Latitude-GridLevel'],df['Longitude-GridLevel'])

ValueError: Length of values does not match length of index

/Users/saviosebastian/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [257]:
df.groupby(['Latitude-GridLevel','Longitude-GridLevel']).sum()

                                        CatIndex  Latitude  Longitude  \
Latitude-GridLevel Longitude-GridLevel
187                300                         1      14.3      241.3
189                308                         2      19.3      256.3
197                215                         2      35.2       71.2
202                208                         3      45.1       57.1
204                352                         2      48.4      345.4
208                359                         0     114.8      716.4
211                331                         1      62.2      303.2
212                297                         1      64.1      235.1
213                341                         3      67.7      322.2
214                259                         2      68.1      158.1
                   326                         1      69.4      292.4
216                270                         3      73.6      180.4
218                183                         0      76.7        7.1
220                209                         3      81.9       59.3
225                217                         0      90.4       75.4

                                        Latitude-Int  Longitude-Int  \
Latitude-GridLevel Longitude-GridLevel
187                300                            14            241
189                308                            19            256
197                215                            35             71
202                208                            45             57
204                352                            48            345
208                359                           114            716
211                331                            62            303
212                297                            64            235
213                341                            67            322
214                259                            68            158
                   326                            69            292
216                270                            73            180
218                183                            76              7
220                209                            81             59
225                217                            90             75

                                        CloudFraction
Latitude-GridLevel Longitude-GridLevel
187                300                       0.329874
189                308                       0.454766
197                215                       0.140696
202                208                       0.507337
204                352                       0.784149
208                359                       0.705549
211                331                       0.594075
212                297                       0.755604
213                341                       0.918608
214                259                       0.175799
                   326                       0.530343
216                270                       0.162236
218                183                       0.364048
220                209                       0.728715
225                217                       0.565694

In [1]:
df.groupby(['Latitude-GridLevel','Longitude-GridLevel'])

NameError: name 'df' is not defined

In [ ]:
df.sort_index

In [ ]:
groups = df.groupby('CatIndex')

In [ ]:
groups.head()

In [258]:
!pip install h5py

Requirement already satisfied: h5py in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (2.8.0)
Requirement already satisfied: numpy>=1.7 in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (from h5py) (1.15.1)
Requirement already satisfied: six in /Users/saviosebastian/anaconda3/lib/python3.7/site-packages (from h5py) (1.11.0)

In [259]:
import h5py

In [ ]:
/Users/saviosebastian/Documents/CMAC/MYD03.A2002185.0000.061.2017362174430.hdf

In [260]:
f = h5py.File('/Users/saviosebastian/Documents/CMAC/MYD03.A2002185.0000.061.2017362174430.hdf','r')

OSError: Unable to open file (file signature not found)

In [ ]:
impor